@import "functions";

@mixin gap($gap: 30px) {
    grid-column-gap: #{$gap}
}

@mixin gap-v($gap: 30px) {
    grid-row-gap: #{$gap}
}

@mixin grid($columns) {
    display: grid;

    @if (_next-grid-is-number($columns)) {
        grid-template-columns: _next-grid-repeater($columns, 1fr);
    } @else {
        grid-template-columns: #{$columns};
    }

    @include gap();
}
