@function _grid-repeater($n, $character) {
    $c: "";

    @for $i from 1 through $n {
        $c: $c +" "+ $character;
    }

    @return unquote($c);
}

@mixin gap($gap: 30px) {
    grid-column-gap: #{$gap}
}

@mixin gap-v($gap: 30px) {
    grid-row-gap: #{$gap}
}

@mixin grid($columns) {
    display: grid;

    @if (type-of($columns) == 'number') {
        grid-template-columns: _grid-repeater($columns, 1fr);
    } @else {
        grid-template-columns: #{$columns};
    }
}
